.main-body {
  color: #f2b298;
  border: 1px solid grey;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}

.units {
  position: relative;
  top: -34px;
  font-size: 20px;
  text-decoration: none;
}

.search-form {
  margin-bottom: 20px;
}

.code-link {
  text-align: center;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

#temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #db9f87;
  font-weight: 400;
}

#icon {
  font-size: 58px;
  margin: 0 auto;
}

#date-time {
  font-size: 20px;
}

#current {
  font-size: smaller;
}

#city {
  font-size: 25px;
}

#description {
  text-transform: capitalize;
}

#weather-forecast {
  margin-top: 20px;
  text-align: center;
  opacity: 0.6;
}

#weather-forecast-date {
  font-size: 16px;
}

#weather-forecast-temp-min {
  opacity: 0.6;
}

#weather-forecast-temp {
  font-size: 13px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
